aside {
  text-align: left;
}
html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
legend {
  border-bottom: solid thin #ccc;
  text-transform: uppercase;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  legend {
    margin-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  legend {
    margin-top: 10px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 1025px) {
  legend {
    margin-top: 0;
    padding-bottom: 25px;
  }
}
legend strong {
  color: #ffa500;
  font-weight: normal;
}
section {
  padding: 20px 0;
}
.bulb {
  margin: 10px auto;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .bulb {
    width: 80px;
  }
  .bulb img {
    height: 80px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .bulb {
    width: 180px;
  }
  .bulb img {
    height: 180px;
  }
  .bulb p.title {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1025px) {
  .bulb {
    width: 120px;
  }
}
.bulb .title {
  font-size: 0.78em;
}
@media only screen and (max-width: 480px) {
  .carro {
    margin: 10px auto;
    text-align: center;
    width: 265px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .carro {
    margin: 10px auto;
    text-align: center;
    width: 210px;
  }
}
@media only screen and (min-width: 1025px) {
  .carro {
    margin: 10px auto;
    text-align: center;
    width: 250px;
  }
}
.carro img {
  width: 100%;
}
.carro > .title,
.carro > .description {
  margin: 4px 0 0;
}
.carro > .title {
  font-size: 0.8em;
  text-transform: uppercase;
}
.carro > .description {
  color: #8d8c8c;
  font-size: 0.7em;
  padding: 0 10px;
}
.contenedor {
  border: solid thin #ccc;
  margin: 0 auto;
  padding: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .contenedor {
    width: 800px;
  }
}
@media only screen and (min-width: 1025px) {
  .contenedor {
    width: 1000px;
  }
}
.filter {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.filter-title {
  margin: 0;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
}
.img-responsive {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.title {
  color: #4face7;
}
