
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
}

@media only screen and (min-width : 481px) and (max-width : 1024px) {
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1025px) {
}

html {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

legend > strong {
    color: orange;
    font-weight: normal;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.carro {
    width: 265px;
    text-align: center;
    margin: 10px auto;
}
.carro img {
    width: 100%;
}
.bulb {
    width: 125px;
    text-align: center;
    margin: 10px auto;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
aside {
    text-align: left;
}
.filter {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
}
.filter-title {
    margin: 0;
}