doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Maquetado GrupoMas
    link(rel='stylesheet', href='./css.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet')
  body
    .contenedor
      legend Selecciona por tipo de 
        strong funci&oacute;n
      section#carros.flex
        article.carro
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_280,h_280,c_limit,q_25/v1496384476/grupomas/coche1.png')
          p.title luces bajas
          p.description Dise&ntilde;adas para veh&iacute;culos con dos focos separados en cada faro.
        article.carro
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_280,h_280,c_limit,q_25/v1496384476/grupomas/coche2.png')
          p.title luces dual
          p.description Para veh&iacute;culos con 1 foco en el faro. La luz baja es xen&oacute;n y la alta es hal&oacute;geno.
        article.carro
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_280,h_280,c_limit,q_25/v1496384476/grupomas/coche3.png')
          p.title luces bixen&oacute;n
          p.description Para veh&iacute;culos con 1 foco en el faro. La luz baja/alta la emite 1 c&aacute;psula de xen&oacute;n.
        article.carro
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_280,h_280,c_limit,q_25/v1496384476/grupomas/coche4.png')
          p.title luces bixen&oacute;n real
          p.description Para veh&iacute;culos con 1 foco en el faro. La luz la emiten 2 c&aacute;psulas de xen&oacute;n.
        article.carro
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_280,h_280,c_limit,q_25/v1496384476/grupomas/coche5.png')
          p.title luces d1s/d2s/d2r
          p.description Kits gen&eacute;ricos para veh&iacute;culos diseñados con xen&oacute;n de or&iacute;gen.
        article.carro
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_280,h_280,c_limit,q_25/v1496384476/grupomas/coche6.png')
          p.title accesorios
          p.description Adaptadores, cables... y todo lo que necesitas para instalar xen&oacute;n.
        article.carro
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_280,h_280,c_limit,q_25/v1496384476/grupomas/coche7.png')
          p.title repuestos
          p.description Balastros, bulbos y cables para reemplazar piezas de tu kit xen&oacute;n.
      legend
        | Selecciona por 
        strong medida
        |  del bulbo
      |         
      section#focos.flex
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb1.png')
          p.title h1
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb2.png')
          p.title h3
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb3.png')
          p.title h7
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb4.png')
          p.title h10/9140
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb5.png')
          p.title h6
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb6.png') 
          p.title h11
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb7.png') 
          p.title 880/881/889
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb8.png') 
          p.title 9005/hb3
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb9.png') 
          p.title 9006/hb4
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb10.png') 
          p.title h16/5202
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb11.png') 
          p.title h4/hb2
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb12.png') 
          p.title h13/9008
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb13.png') 
          p.title 9007/hb5
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb14.png') 
          p.title d1s
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb15.png') 
          p.title d2r
        article.bulb
          img.img-responsive(src='http://res.cloudinary.com/lalogalindo/image/upload/w_180,h_180,c_limit,q_25/v1496393030/grupomas/bulb16.png') 
          p.title d2s
      legend
      section#venta.flex
        aside
          h3.filter-title HID XENON
          ul.filter
            li
              input(type='checkbox')
              | Accesorios (8)    
            li
              input(type='checkbox')
              | Repuestos (39)
            li
              input(type='checkbox')
              | kits de Xen&oacute;n (174)
        article.item
          .rating
            span &star;           
            span &star;           
            span &star;           
            span &star;           
            span &star;
